TurismoExel/TurismoExel/Service References/ServiceReferences/ServicioWebTurismo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CancelarReserva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReservaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarReservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarReservaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CancelarReservaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarReserva" />
  </wsdl:message>
  <wsdl:message name="CancelarReservaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebTurismoSoap">
    <wsdl:operation name="CancelarReserva">
      <wsdl:input message="tns:CancelarReservaSoapIn" />
      <wsdl:output message="tns:CancelarReservaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebTurismoSoap" type="tns:ServicioWebTurismoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelarReserva">
      <soap:operation soapAction="http://tempuri.org/CancelarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebTurismoSoap12" type="tns:ServicioWebTurismoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelarReserva">
      <soap12:operation soapAction="http://tempuri.org/CancelarReserva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWebTurismo">
    <wsdl:port name="ServicioWebTurismoSoap" binding="tns:ServicioWebTurismoSoap">
      <soap:address location="http://localhost:61613/ServicioWebTurismo.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebTurismoSoap12" binding="tns:ServicioWebTurismoSoap12">
      <soap12:address location="http://localhost:61613/ServicioWebTurismo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>